/* ----------------------------- */
/* ------RESET------ */
/* ----------------------------- */

/* base font-size corresponds to 10px and is adapted to rem unit */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	background-color: #fff;
	color: #000;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.6rem; /* equiv 16px */
	line-height: 1.5; /* adapt to your design */
}


/* soft reset */
html,
body,
textarea,
figure,
label {
	margin: 0;
	padding: 0;
}
ul,
ol {
	
	list-style-type: none;
}

 /* unvisited link */
a:link {
  color: currentColor;
}

/* visited link */
a:visited {
  color: currentColor;
}

/* mouse over link */
a:hover {
  color: currentColor;
}

/* selected link */
a:active {
  color: currentColor;
} 